@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*Colors*/
:root {
  --primary: #030a16;
  --secondary: #323946;
  --disabled: #fff3;
  --highlight: #00abf0;
  --white: #fff;
}

/*Body Page*/
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
}

/*Navigation Bar*/
nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  background-color: var(--primary);
  box-shadow: 0 0.1vw 2vw rgba(146, 161, 176, 0.3);
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: var(--white);
  font-size: 1.5vw;
  font-weight: bold;
}

.logo span {
  color: var(--highlight);
  text-shadow: 0 0 2vw var(--highlight);
}

.nav-container .links {
  display: flex;
}

.nav-container .links a {
  position: relative;
  display: block;
  font-size: 1.5vw;
  color: var(--white);
  margin: 0 1.4vw;
  text-decoration: none;
  font-weight: 550;
  transition: color 0.3s linear;
}

.nav-container .links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.2vw;
  background-color: var(--highlight);
  transition: width 0.3s ease-out;
}

.nav-container .links a:hover {
  color: var(--highlight);
}

.nav-container .links a:hover::after {
  width: 100%;
}

/*Home Section*/
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container .content {
  color: var(--white);
  width: 40%;
  min-height: 60vh;
}

.content h1 {
  font-size: 4vw;
  font-weight: 800;
}

.content h1 span {
  font-size: 4vw;
  font-weight: 800;
  text-shadow: 0 0 2vw var(--highlight);
  color: var(--highlight);
}

.content .typewriter {
  font-size: 3vw;
  font-weight: 600;
  padding-top: 1.3vw;
}

.typewriter .typewriter-text {
  color: var(--highlight);
  text-shadow: 0 0 2vw var(--highlight);
}

.typewriter #cursor {
  color: var(--highlight);
  border-right: 0.3vw solid var(--highlight);
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}

.content .redirect {
  width: 20vw;
  height: 10vh;
  margin: 3vw 3vw 1.5vw;
  background-color: var(--highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vh;
  transition: 0.2s linear;
}

.content .redirect:hover {
  scale: 1.1;
  border: 0.3vw solid var(--highlight);
  background-color: transparent;
  font-weight: 700;
  box-shadow: 0 0 1.5vw 0.3vw var(--highlight);
}

.redirect .redirect-btn {
  text-decoration: none;
  color: var(--white);
  font-size: 2vw;
  font-weight: 700;
}

.redirect:hover .redirect-btn span,
.redirect:hover .redirect-btn i {
  color: var(--highlight);
  font-size: 2vw;
}

.social-links i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  border: 0.25vw solid var(--highlight);
  border-radius: 50%;
  color: var(--highlight);
  margin: 1.1vw 1.1vw 0 1.1vw;
  font-size: 2.25vw;
  transition: 0.2s linear;
}

.social-links i:hover {
  scale: 1.3;
  filter: drop-shadow(0 0 1.1vw var(--highlight));
  color: var(--primary);
  background-color: var(--highlight);
}

.main-container .img {
  position: relative;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .img .img-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img .img-box::before,
.img .img-box::after {
  content: "";
  position: absolute;
  width: 1500vw;
  height: 1500vw;
  background: conic-gradient(transparent, transparent, transparent, #00abf1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: revolve 4s linear infinite;
}
.img .img-box::after {
  animation-delay: -2s;
}
@keyframes revolve {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.img-box .img-item {
  position: relative;
  width: 29vw; /* 8px creates the border thickness (4px on each side) */
  height: 29vw;
  border-radius: 50%;
  background-color: var(
    --primary
  ); /* Matches bg to mask the center of the glow */
  z-index: 1; /* Stays on top of the spinner */
  overflow: hidden;
}
.main-container .img img {
  width:100%;
  height:120%;
  object-fit: cover;
  display: block;
}

/*About Section*/
#about h1 {
  color: var(--white);
}
