@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary: #030a16;
  --secondary: #323946;
  --disabled: #fff3;
  --highlight: #00abf0;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
}
nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  background-color: var(--primary);
  box-shadow: 0 0.1vw 2vw rgba(146, 161, 176, 0.3);
}
.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  color: var(--white);
  font-size: 1.5vw;
  font-weight: bold;
}
.logo span {
  color: var(--highlight);
  text-shadow: 0 0 2vw var(--highlight);
}
.nav-container .links {
  display: flex;
}
.nav-container .links a {
  position: relative;
  display: block;
  font-size: 1.5vw;
  color: var(--white);
  margin: 0 1.4vw;
  text-decoration: none;
  font-weight: 550;
  transition: color 0.3s linear;
}

.nav-container .links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.2vw;
  background-color: var(--highlight);
  transition: width 0.3s ease-out;
}

.nav-container .links a:hover {
  color: var(--highlight);
}

.nav-container .links a:hover::after {
  width: 100%;
}
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-container .content {
  color: var(--white);
  width: 40%;
  min-height: 60vh;
}
.content h1 {
  font-size: 4vw;
  font-weight: 800;
}
.content h1 span {
  font-size: 4vw;
  font-weight: 800;
  text-shadow: 0 0 2vw var(--highlight);
  color: var(--highlight);
}
.content .typewriter {
  font-size: 3vw;
  font-weight: 600;
  padding-top: 1.3vw;
}
.typewriter .typewriter-text {
  color: var(--highlight);
  text-shadow: 0 0 2vw var(--highlight);
}
.typewriter #cursor {
  color: var(--highlight);
  border-right: 0.3vw solid var(--highlight);
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
.content .redirect {
  width: 20vw;
  height: 10vh;
  margin: 3vw 3vw 1.5vw;
  background-color: var(--highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vh;
  transition: 0.2s linear;
}
.content .redirect:hover {
  scale: 1.1;
  border: 0.3vw solid var(--highlight);
  background-color: transparent;
  font-weight: 700;
  box-shadow: 0 0 1.5vw 0.3vw var(--highlight);
}
.redirect .redirect-btn {
  text-decoration: none;
  color: var(--white);
  font-size: 2vw;
  font-weight: 700;
}
.redirect:hover .redirect-btn span,
.redirect:hover .redirect-btn i {
  color: var(--highlight);
  font-size: 2vw;
}
.social-links i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  background-color: transparent;
  border: 0.25vw solid var(--highlight);
  border-radius: 50%;
  color: var(--highlight);
  margin: 1.1vw 1.1vw 0 1.1vw;
  font-size: 2.25vw;
  transition: 0.2s linear;
}
.social-links i:hover {
  scale: 1.3;
  filter: drop-shadow(0 0 1.1vw var(--highlight));
  color: var(--primary);
  background-color: var(--highlight);
}

.main-container .img {
  width: 31.5vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5vw var(--highlight);
}

.main-container .img img {
  width: 100%;
  transition: transform 0.5s ease-out;
  transform: scale(1);
}
.main-container .img img:hover {
  transform: scale(1.1);
}
